numpy==1.20.3
pandas==1.5.0
PyYaml==5.4.1
eppy==0.5.63
python-contracts==0.1.4
pint==0.17
esoreader==1.2.3
jsonpickle==2.0.0
geopandas==0.9.0
rdflib==6.0.2
SPARQLWrapper==1.8.5
scipy==1.7.1
Shapely==1.7.1
geomeppy==0.11.8
openpyxl==3.0.7
types-PyYAML==5.4.3
types-six==0.1.7
requests==2.27.0
types-requests==2.26.2